
@font-face {
    font-family: Dosis;
    src: url('/fonts/Dosis-Book.ttf');
}
@font-face {
    font-family: DosisBold;
    src: url('/fonts/Dosis-SemiBold.ttf');
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    font-family: Dosis;
    font-size: 18px;

}

.navbar-brand{
  font-family: Dosis;
  font-size: 24px;
}
