

.desc{
    /*background-color: #000;*/
    bottom: 0;
    color: #fff;
    left: 0;
    /*opacity: 0.5;*/
    position: absolute;
    width: 100%;
}

.fix{
    width: 100%;
    padding: 0px;
}

.desc_content{
    padding-left: 10px;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 8px;
    color: 9d9d9d;
}

.coverimage {
    background-position: center center;
    background-size: cover;
    height: 92%;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    z-index: 1;
}

.left-side{
    left: -15%;
}
.right-side{
    left: 15%;
}

.about{
    background-color: #E0E0E0;
    margin-top: 15px;
    min-height: 110px;

}

.textrow{
    font-size: 1.25em;
    line-height: 1.65em;
    color: rgb(128, 128, 128);
    margin-top: 3px;
    font-family: Dosis;
}

.textcol{
    font-size: 1.15em;
    font-family: Dosis;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.carousel {
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;

    border-color: gray;
    border-style:solid;

}
.carousel-inner{
  opacity: 1;
  z-index: 0;
}
.carousel-control {
margin-top: 100px;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #999;
}

.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.lead{
  font-family: Dosis;
  font-size: 18px;
}
